@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

:root {
  /* primary colors */
  --sedan-bg: hsl(31, 77%, 52%); 
  --suv-bg: hsl(184, 100%, 22%); 
  --luxury-bg: hsl(179, 100%, 13%); 

  /* neutral */
  --light-gray: hsl(0, 0%, 95%);
  --trans-white: hsla(0, 0%, 100%, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-gray);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.sedan-card {
  height: 500px;
  width: 300px;
  background: var(--sedan-bg);
  padding: 40px;
}

.suv-card {
  height: 500px;
  width: 300px;
  background: var(--suv-bg);
  padding: 40px;
}

.luxury-card {
  height: 500px;
  width: 300px;
  background: var(--luxury-bg);
  padding: 40px;
}

.content h2 {
  font-family: 'Big Shoulders Display';
  font-size: 45px;
  font-weight: 700;
  color: var(--light-gray);
  margin: 25px 0 20px 0;
}

.content p {
  font-family: 'Lexend Deca';
  font-size: 16px;
  font-weight: 400;
  color: var(--trans-white);
  margin: 50px 0;
}

button {
  margin-top: 50px;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 18px;
  border: none;
}

.sedan-card button {
  color: var(--sedan-bg);
}

.suv-card button {
  color: var(--suv-bg);
}

.luxury-card button {
  color: var(--luxury-bg);
}

button:hover {
  cursor: pointer;
  background: transparent;
  color: var(--light-gray);
  border: 1px solid white;
}
